{:postgres-bin "/usr/lib/postgresql/9.5/bin"
 :host "127.0.0.1"
 :data-dir "/tmp/node-1"
 :atomix   {:port 4444}
 :postgres {:port 5434
            :archive_command "cp %p /tmp/wallogs/%p"}
 :health-checks {:timeout 3000
                 :checks {:simple-read "SELECT 1"
                          :snapshot "SELECT txid_current_snapshot()"
                          :transaction-id "SELECT txid_current()"}}}
